{% extends "base.html" %}
{% block navbar %}{% include "navbar.html" %}{% endblock %}

{% block sidebar %}{% include "sidebar.html" %}{% endblock %}

{% block section %}
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
	{% if phases %}
		<form action="/show_phase_detail/" method="POST">
			{% csrf_token %}
		<h1>Phases in Project: {{ project.name }}</h1>
		<table class='table'>
		{% for phase in phases %}
			<tr><td>{{ forloop.counter }}</td><td>{{ phase }}</td><td><input name='pha' type='radio' value={{ phase.id }}></td></tr>
		{% endfor %}
		</table>
		<input type="submit" value="Show Details">
		</form>
		<p></p>
		<h3>Data about this Project</h3>
		<table class="table">
			<tr><td>Total Lines of Code:</td><td>{{ projSLOC }}</td></tr>
		</table>
	{% else %}
		<h1>There are no phases in project: {{ project.name }}</h1>
		<p><a href="{% url 'index'%}">Go Back Home</a></p>
	{% endif %}
</div>
{% endblock %}